@charset "UTF-8";
@font-face {
  font-family: "Freestyle Script";
  src: url("../fonts/10036.ttf");
  src: url("../fonts/FreestyleScript.otf");
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: sans-serif;
}

*::selection {
  background: #e98282;
}

html, body {
  height: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
}

.col-lg-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-lg-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-lg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-3-part {
  -ms-flex: 0 0 31.1%;
  flex: 0 0 31.1%;
  max-width: 31.1%;
}

.col-lg-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-lg-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-lg-6 {
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  max-width: 48%;
}

.col-lg-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-lg-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-lg-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-lg-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-lg-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-lg-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 67px;
  color: #ffffff;
}

h2 {
  font-size: 48px;
  color: #ffffff;
}

h3 {
  margin-bottom: 25px;
  font-size: 30px;
  color: #5363db;
}

h4 {
  font-size: 20px;
  color: #555555;
}

h5 {
  font-size: 18px;
  color: #ffffff;
}

p {
  color: #555555;
  font-size: 14px;
  line-height: 22px;
}

sup, sub {
  font-size: 32px;
  font-weight: 400;
}

.row {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

header {
  width: 100%;
  height: 100px;
  box-shadow: 2px 2px 7px #555555;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #fff;
  z-index: 50;
}

header .container {
  width: 100%;
}

header .container .menu {
  display: flex;
  justify-content: center;
  width: 100%;
}

header .container .menu .menu__list {
  display: flex;
  align-items: center;
}

header .container .menu .menu__list .menu__link {
  font-size: 14px;
  color: #555555;
  margin: 0 15px;
  position: relative;
}

header .container .menu .menu__list .active__link {
  color: #5363db !important;
}

header .container .menu .menu__list .active__link::after {
  content: "";
  width: 30px;
  display: block;
  border-bottom: 1px solid #5363db;
  position: absolute;
  bottom: -5px;
  left: 30%;
}

header .container .menu .menu__list-mob {
  display: none;
}

header .container .menu .active {
  display: block;
}

header .container .menu .header__logo {
  margin: 0 150px;
}

header .container .menu .header__logo .logo__link {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  color: #5363db;
}

header .container .menu .header__burger {
  display: none;
  width: 40px;
  height: 40px;
}

header .container .menu .header__burger .span__line {
  display: block;
  position: relative;
  top: 13px;
  width: 30px;
  border: 2px solid #333333;
}

header .container .menu .header__burger .span__line::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -2px;
  width: 30px;
  border: 2px solid #333333;
}

header .container .menu .header__burger .span__line::after {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  left: -2px;
  width: 30px;
  border: 2px solid #333333;
}

section.balance {
  height: 600px;
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  top: 101px;
}

section.balance .fon {
  background-color: rgba(83, 99, 219, 0.8);
  width: 100%;
  height: 100%;
}

section.balance .fon .container {
  height: 100%;
}

section.balance .fon .container .row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.balance .fon .container .row .column-trial {
  height: 390px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

section.balance .fon .container .row .column-trial .trial__title {
  font-size: 26px;
  margin: 40px 0 30px 35px;
  color: #5363db;
}

section.balance .fon .container .row .column-trial .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.balance .fon .container .row .column-trial .register-form .register-form__input {
  display: block;
  background-color: #f2f2f2;
  width: 230px;
  height: 50px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

section.balance .fon .container .row .column-trial .register-form .register-form__input::placeholder {
  padding-left: 10px;
}

section.balance .fon .container .row .column-trial .register-form .register-form__select {
  background-color: #f2f2f2;
  width: 230px;
  height: 50px;
  border: none;
  border-radius: 8px;
  color: #555555;
  padding-left: 10px;
}

section.balance .fon .container .row .column-trial .register-form .register-form__btn {
  width: 170px;
  height: 50px;
  background-color: #5b6ceb;
  border: none;
  border-radius: 15px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  font-size: 16px;
  color: #ffffff;
}

section.balance .fon .container .row .column-balance {
  margin-left: 90px;
}

section.balance .fon .container .row .column-balance .balance__description {
  font-family: "Freestyle Script";
  font-size: 40px;
  color: #ffffff;
  margin-top: 50px;
  line-height: 45px;
}

section.program {
  margin-top: 220px;
}

section.program .container {
  text-align: center;
}

section.program .container .program__title {
  text-transform: uppercase;
}

section.program .container .program__description {
  font-family: "Freestyle Script";
  font-size: 40px;
  color: #555555;
}

section.program .container .row {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

section.program .container .row .training {
  height: 300px;
  margin-bottom: 25px;
  margin-right: 9px;
  margin-left: 10px;
  display: flex;
  box-shadow: 4px 4px 20px rgba(85, 85, 85, 0.1);
  border-radius: 8px;
}

section.program .container .row .training .training-block__img {
  width: 44%;
}

section.program .container .row .training .training-block__img img {
  width: 100%;
  height: 100%;
}

section.program .container .row .training .training-block__description {
  width: 56%;
  padding: 0px 30px;
  box-sizing: border-box;
  text-align: left;
}

section.program .container .row .training .training-block__description .training__title {
  margin: 50px 0 35px 0;
  text-transform: uppercase;
}

section.program .container .row .training .training-block__description p {
  margin-bottom: 20px;
}

section.program .container .row .training .training-block__description span {
  color: #d88c8c;
}

section.program .container-fluid {
  margin-top: 125px;
  position: relative;
}

section.program .container-fluid .blos {
  width: 200px;
  height: 100px;
  background-color: red;
}

section.program .container-fluid .zoom-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

section.program .container-fluid .zoom-container .zoom {
  width: 50%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 22%;
  left: 24.7%;
  border: 5px solid #5363db;
  border-radius: 15px;
  transition: 3s;
}

section.program .container-fluid .zoom-container .zoom img {
  width: 100%;
  height: 100%;
}

section.program .container-fluid .close {
  width: 50px;
  height: 50px;
  display: none;
  position: absolute;
  top: 20%;
  right: 21%;
  z-index: 1;
  cursor: pointer;
}

section.program .container-fluid .close::before {
  content: "";
  display: block;
  border: 2px solid #000000;
  width: 40px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
}

section.program .container-fluid .close::after {
  content: "";
  display: block;
  border: 2px solid #000000;
  width: 40px;
  position: absolute;
  top: 0;
  transform: rotate(-45deg);
}

section.program .container-fluid .row {
  display: flex;
  position: relative;
}

section.program .container-fluid .row .training__thumbnails {
  height: 350px;
  position: relative;
}

section.program .container-fluid .row .training__thumbnails:hover {
  cursor: pointer;
}

section.program .container-fluid .row .training__thumbnails:hover .large__img {
  display: flex;
}

section.program .container-fluid .row .training__thumbnails img {
  width: 100%;
  height: 100%;
}

section.program .container-fluid .row .training__thumbnails .large__img {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(83, 99, 219, 0.8);
  transition: 2s ease-in-out;
}

section.program .container-fluid .row .training__thumbnails .large__img .circle {
  width: 57px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  color: #5363db;
  font-size: 24px;
}

section.about {
  margin-top: 150px;
}

section.about .container .row {
  display: flex;
}

section.about .container .row .owl-carousel {
  height: 300px;
  margin-left: 100px;
}

section.about .container .row .owl-carousel .owl-stage-outer {
  width: 100%;
}

section.about .container .row .owl-carousel .owl-stage-outer .owl-item {
  width: 570px;
}

section.about .container .row .owl-carousel .owl-nav {
  display: flex !important;
  justify-content: space-between;
  position: relative;
  bottom: 189px;
  right: 12px;
  width: 103%;
}

section.about .container .row .owl-carousel .owl-nav .owl-prev, section.about .container .row .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
}

section.about .container .row .owl-carousel .owl-nav .owl-prev .arrow-owl, section.about .container .row .owl-carousel .owl-nav .owl-next .arrow-owl {
  color: #5363db;
}

section.about .container .row .column-about {
  height: 250px;
  box-sizing: border-box;
}

section.about .container .row .column-about .about__title {
  margin: 30px 0;
  text-transform: uppercase;
  font-weight: 700;
}

section.about .container .row .column-about_pad {
  box-sizing: border-box;
}

section.improvement {
  height: 800px;
  margin-top: 150px;
  background-image: url("../img/AdobeStock_102211925.png");
  background-repeat: no-repeat;
  background-size: cover;
}

section.improvement .fon {
  background-color: rgba(83, 99, 219, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

section.improvement .fon .container {
  padding: 0 0 100px 0;
}

section.improvement .fon .container .row {
  display: flex;
  justify-content: space-around;
}

section.improvement .fon .container .row:last-child {
  margin-top: 85px;
}

section.improvement .fon .container .row:last-child .column-improvement:last-child {
  display: none !important;
}

section.improvement .fon .container .row .column-improvement {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 0 25px;
  position: relative;
  height: 250px;
}

section.improvement .fon .container .row .column-improvement .circle {
  width: 70px;
  height: 70px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.improvement .fon .container .row .column-improvement .improvement__title {
  margin: 30px 0;
  line-height: 27px;
}

section.improvement .fon .container .row .column-improvement .improvement__description {
  color: #ffffff;
  line-height: 27px;
  position: absolute;
  bottom: 0px;
}

section.improvement-tablet {
  display: none;
}

section.shop {
  margin-top: 100px;
  padding-bottom: 200px;
  position: relative;
}

section.shop .row {
  display: flex;
  justify-content: space-between;
}

section.shop .row .column-shop {
  height: 495px;
  margin-left: 12px;
  margin-right: 13px;
  box-shadow: 6px 6px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.shop .row .column-shop .price {
  width: 100%;
  height: 30%;
  background-color: #5b6ceb;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.shop .row .column-shop .price .price__title {
  position: relative;
}

section.shop .row .column-shop .price .price__title::before {
  content: "$";
  display: block;
  font-size: 32px;
  position: absolute;
  top: 20px;
  left: -30px;
}

section.shop .row .column-shop .price .price__title::after {
  content: "/MONTH";
  display: block;
  position: absolute;
  bottom: 13px;
  font-size: 18px;
  left: 81px;
}

section.shop .row .column-shop .date .date__item {
  color: #555555;
  font-size: 18px;
  position: relative;
  margin-top: 50px;
}

section.shop .row .column-shop .date .date__item::after {
  content: "";
  display: block;
  border-bottom: 1px solid #555555;
  width: 100px;
  position: absolute;
  top: 47px;
  left: 26%;
}

section.shop .row .column-shop .date .date__item:last-child::after {
  content: "";
  display: none;
}

section.shop .row .column-shop .btn {
  width: 170px;
  height: 50px;
  box-sizing: border-box;
  display: block;
  padding: 17px 50px;
  margin-top: 50px;
  font-size: 18px;
  color: #ffffff;
  background-color: #5363db;
  border-radius: 20px;
}

section.shop .row .owl-nav {
  position: absolute;
  bottom: 8%;
  left: 29%;
}

section.shop .row .owl-nav .owl-next {
  margin-left: 220px;
}

section.shop .row .owl-nav .owl-next, section.shop .row .owl-nav .owl-prev {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
}

section.shop .row .owl-nav .owl-next span, section.shop .row .owl-nav .owl-prev span {
  color: #5363db;
}

section.shop .row .owl-dots {
  position: absolute;
  transform: rotate(90deg);
  right: -5%;
  top: 50%;
}

section.shop .row .owl-dots .active {
  border: 1px solid #5363db;
  padding: 5px;
  border-radius: 50%;
  background-color: none;
}

section.shop .row .owl-dots .active span {
  margin: 2px 2px;
  border: none;
  background-color: #5363db !important;
  display: block;
  border-radius: 50%;
}

section.shop .row .owl-dots .owl-dot {
  margin: 0 5px;
}

section.shop .row .owl-dots .owl-dot span {
  background: #d7d7d7;
  margin: 2px 2px;
}

section.shop .row .owl-item {
  height: 390px;
}

section.shop .row .owl-item .column-comment {
  width: 99%;
  margin-top: 100px;
  margin-left: 2px;
  height: 250px;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: relative;
}

section.shop .row .owl-item .column-comment .avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid silver;
  margin: 0 100px 0 85px;
}

section.shop .row .owl-item .column-comment .avatar img {
  width: 100%;
  height: 100%;
}

section.shop .row .owl-item .column-comment .commnet__text {
  width: 55%;
  position: relative;
}

section.shop .row .owl-item .column-comment .commnet__text::before {
  content: "";
  display: block;
  border-right: 3px solid #d7d7d7;
  height: 75px;
  position: absolute;
  top: 51px;
  left: -38px;
}

section.shop .row .owl-item .column-comment .commnet__text .commnet__text_q {
  position: relative;
  margin-bottom: 35px;
}

section.shop .row .owl-item .column-comment .commnet__text .commnet__text_q::before {
  content: url("../img/”2.png");
  display: block;
  position: absolute;
  left: -48px;
}

section.shop .row .owl-item .column-comment .commnet__text .commnet__text_q::after {
  content: url("../img/“1.png");
  display: block;
  position: absolute;
  right: -55px;
}

section.shop .row .owl-item .column-comment .commnet__text .post {
  font-size: 14px;
  color: #555555;
}

section.shop .row .owl-item .column-comment .commnet__text .name {
  color: #5363db;
  font-size: 18px;
  font-weight: 700;
}

section.shop .row .owl-item .column-comment .slider-comment {
  width: 165px;
  position: absolute;
  left: 34%;
  bottom: -13%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section.shop .row .owl-item .column-comment .slider-comment .avatar__slider {
  width: 60px;
  height: 60px;
  border: 1px solid;
  border-radius: 50%;
}

section.shop .row .owl-item .column-comment .slider-comment .slider__name .name {
  font-size: 16px;
  font-weight: 700;
}

section.shop .row .owl-item .column-comment .slider-comment .slider__name .post {
  font-size: 14px;
  color: #555555;
}

footer {
  height: 450px;
  background-color: #5b6ceb;
  display: flex;
  align-items: center;
}

footer .row-mob {
  display: none;
}

footer .row {
  display: flex;
  justify-content: space-between;
}

footer .row .column__footer .footer__title {
  margin-bottom: 60px;
}

footer .row .column__footer .footer__description {
  color: #ffffff;
}

footer .row .column__footer .footer-social {
  margin-top: 70px;
}

footer .row .column__footer .footer-social .social__links {
  margin-right: 15px;
}

footer .row .footer-contact {
  width: 20%;
}

footer .row .footer-contact .contact__title {
  margin-bottom: 60px;
}

footer .row .footer-contact .contact {
  margin-left: 30px;
}

footer .row .footer-contact .contact .contact__item {
  color: #ffffff;
  margin-top: 20px;
  position: relative;
}

footer .row .footer-contact .contact .contact__item p {
  color: #ffffff;
}

footer .row .footer-contact .contact .contact__item:first-child::before {
  content: url("../img/icon/maps.png");
  width: 15px;
  height: 21px;
  display: block;
  position: absolute;
  left: -30px;
  top: 3px;
}

footer .row .footer-contact .contact .contact__item:last-child::before {
  content: url("../img/icon/phone-call.png");
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  left: -30px;
  top: 5px;
}

footer .row .footer-website .contact {
  margin-top: 79px;
}

footer .row .footer-website .contact .contact__item {
  margin-bottom: 40px;
  position: relative;
}

footer .row .footer-website .contact .contact__item a {
  color: #ffffff;
}

footer .row .footer-website .contact .contact__item:first-child::before {
  content: url("../img/icon/envelope.png");
  display: block;
  position: absolute;
  left: -40px;
}

footer .row .footer-website .contact .contact__item:last-child::before {
  content: url("../img/icon/planet-earth.png");
  display: block;
  position: absolute;
  left: -40px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #5363d8;
}

.copyright p {
  color: #b7bffc;
}

@media screen and (min-width: 768px) {
  header .menu .active {
    display: flex !important;
  }
  header .menu .burger .active {
    display: none !important;
  }
}

@media screen and (max-width: 1200px) {
  .col-lg-3-part {
    flex: 0 0 30.6%;
    max-width: 0 0 30.6%;
  }
  .container {
    max-width: 992px;
  }
  h4 {
    font-size: 19px;
  }
  section.program .container-fluid .row .training__thumbnails {
    height: 235px;
  }
  section.program .container-fluid .close {
    right: 21%;
    top: 19%;
  }
  section.about .owl-carousel .owl-nav {
    bottom: 175px !important;
  }
  section.about .owl-carousel .owl-nav .owl-prev, section.about .owl-carousel .owl-nav .owl-next {
    width: 35px !important;
    height: 35px !important;
  }
}

@media screen and (max-width: 992px) {
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .container {
    max-width: 768px;
  }
  h1 {
    font-size: 57px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    margin-bottom: 10px;
    font-size: 26px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    color: #555555;
    font-size: 13px;
    line-height: 20px;
  }
  header .menu .header__logo {
    margin: 0 100px !important;
  }
  section.balance {
    top: 100px;
  }
  section.balance .fon .container .row .column-balance {
    margin-left: 40px;
  }
  section.balance .fon .container .row .column-balance .balance__description {
    margin-top: 10px;
    line-height: 30px;
  }
  section.program {
    margin-top: 120px;
  }
  section.program .container .program__description {
    font-size: 34px;
    margin-bottom: 30px;
  }
  section.program .container .row {
    margin-top: 0;
  }
  section.program .container .row .training {
    flex-direction: column;
    height: 360px;
  }
  section.program .container .row .training .training-block__img {
    width: 100%;
    height: 50%;
  }
  section.program .container .row .training .training-block__img img {
    border-radius: 8px;
  }
  section.program .container .row .training .training-block__description {
    padding: 0px 10px;
    width: auto;
  }
  section.program .container .row .training .training-block__description .training__title {
    margin: 10px 0 10px 0;
  }
  section.program .container-fluid {
    margin-top: 50px;
  }
  section.program .container-fluid .close {
    right: 19%;
    top: 19%;
  }
  section.about {
    margin-top: 65px;
  }
  section.about .row .column-about_pad {
    padding: 0 0 0 16px;
  }
  section.about .row .column-about_pad .about__title {
    margin: 0 0 10px 0 !important;
  }
  section.about .row .owl-carousel {
    height: 250px !important;
    margin-left: 65px !important;
  }
  section.about .row .owl-carousel .owl-nav {
    bottom: 140px !important;
  }
  section.about .row .owl-carousel .owl-nav .owl-prev, section.about .row .owl-carousel .owl-nav .owl-next {
    width: 35px !important;
    height: 35px !important;
  }
  section.improvement {
    display: block;
    height: 675px;
    margin-top: 60px;
  }
  section.improvement .fon .container .row:last-child {
    margin-top: 30px;
  }
  section.improvement .fon .container .row:last-child .column-improvement:last-child {
    display: flex !important;
  }
  section.improvement .fon .container .row:last-child .column-improvement:nth-child(4) {
    margin-top: 30px;
  }
  section.improvement .fon .container .row:last-child .column-improvement:nth-child(5) {
    margin-top: 30px;
  }
  section.improvement .fon .container .row .column-improvement {
    padding: 0 5px;
    height: 165px;
  }
  section.improvement .fon .container .row .column-improvement:last-child {
    display: none;
  }
  section.improvement .fon .container .row .column-improvement .improvement__title {
    margin: 10px 0;
  }
  section.improvement .fon .container .row .column-improvement .improvement__description {
    line-height: 16px;
  }
  section.shop {
    padding-bottom: 0;
  }
  section.shop .row {
    justify-content: center;
  }
  section.shop .row .column-shop {
    height: 320px;
    margin-left: 1px;
  }
  section.shop .row .column-shop .price .price__title::before {
    font-size: 20px;
    top: 10px;
    left: -15px;
  }
  section.shop .row .column-shop .price .price__title::after {
    font-size: 14px;
  }
  section.shop .row .column-shop .date .date__item {
    margin-top: 20px;
    font-size: 14px;
  }
  section.shop .row .column-shop .date .date__item::after {
    top: 22px;
    left: 19%;
  }
  section.shop .row .column-shop .btn {
    width: 150px;
    height: 40px;
    padding: 10px 40px;
  }
  section.shop .row .column-shop:last-child {
    margin-top: 25px;
  }
  section.shop .row .owl-item .column-comment {
    height: 200px;
  }
  section.shop .row .owl-item .column-comment .avatar {
    margin: 0 55px 0 55px;
  }
  section.shop .row .owl-item .column-comment .commnet__text {
    width: 50%;
  }
  section.shop .row .owl-item .column-comment .commnet__text .commnet__text_q {
    margin-bottom: 10px;
  }
  section.shop .row .owl-item .column-comment .commnet__text .post {
    font-size: 13px;
  }
  section.shop .row .owl-item .column-comment .commnet__text .name {
    font-size: 15px;
  }
  section.shop .row .owl-item .column-comment .slider-comment {
    bottom: -30px;
  }
  section.shop .row .owl-item .column-comment .slider-comment .slider__name .name {
    font-size: 14px;
  }
  section.shop .row .owl-item .column-comment .slider-comment .slider__name .post {
    font-size: 12px;
  }
  section.shop .row .owl-nav {
    display: none;
  }
  section.shop .row .owl-dots {
    display: none !important;
  }
  footer {
    height: 375px;
  }
  footer .row .column__footer .footer__title {
    margin-bottom: 20px;
  }
  footer .row .footer-contact .contact {
    margin-left: 15px;
  }
  footer .row .footer-contact .contact .contact__item {
    font-size: 13px;
  }
  footer .row .footer-contact .contact__title {
    margin-bottom: 20px;
  }
  footer .row .footer-website .contact {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  h2 {
    font-size: 30px;
  }
  h5 {
    font-size: 15px;
  }
  p {
    font-size: 11px;
    line-height: 18px;
  }
  header {
    width: 100%;
    height: auto;
  }
  header .container .menu {
    justify-content: flex-end;
    padding: 5px 10px 20px 10px;
  }
  header .container .menu .menu__list {
    display: none;
    margin-top: 35px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
  header .container .menu .menu__list .menu__item:nth-child(4) {
    display: none;
  }
  header .container .menu .active {
    display: block;
    width: 100%;
  }
  header .container .menu .header__burger {
    display: block;
  }
  header .container .menu .active {
    display: block;
    width: 100%;
  }
  header .container .menu .active .menu__item {
    margin: 5px 0;
  }
  header .container .menu .active .span__line {
    float: right;
    border: none;
  }
  header .container .menu .active .span__line::before {
    transform: rotate(45deg);
    top: 6px;
    transition: all 0.3s ease 0s;
  }
  header .container .menu .active .span__line::after {
    transform: rotate(-45deg);
    top: 6px;
    transition: all 0.3s ease 0s;
  }
  section.balance {
    top: 66px;
    height: 525px;
  }
  section.balance .fon .container .row {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  section.balance .fon .container .row .column-trial {
    width: 55%;
    position: relative;
    top: 30%;
  }
  section.balance .fon .container .row .column-trial .trial__title {
    margin: 15px 0 20px 35px;
  }
  section.balance .fon .container .row .column-trial .register-form .register-form__input {
    width: 90%;
    height: 35px;
  }
  section.balance .fon .container .row .column-trial .register-form .register-form__select {
    width: 90%;
    height: 35px;
  }
  section.balance .fon .container .row .column-trial .register-form .register-form__btn {
    width: 75%;
    height: 35px;
    bottom: 35px;
  }
  section.balance .fon .container .row .column-balance {
    position: absolute;
    margin-left: 0px;
    align-items: center;
    text-align: center;
    top: 5%;
  }
  section.balance .fon .container .row .column-balance .balance__description {
    font-size: 28px;
  }
  section.balance .fon .container .row .column-balance .balance__description br {
    display: none;
  }
  section.program .container-fluid {
    margin-top: 50px;
  }
  section.program .container-fluid .row .training__thumbnails {
    height: 200px !important;
  }
  section.program .container-fluid .zoom-container .zoom {
    width: 70%;
    height: 36%;
    top: 22%;
    left: 13.7%;
  }
  section.program .container-fluid .close {
    right: 8%;
    top: 20%;
  }
  section.about .container .row {
    flex-direction: column-reverse;
    align-items: center;
  }
  section.about .container .row .column-about_pad {
    text-align: center;
  }
  section.about .container .row .owl-carousel {
    margin-left: 0 !important;
  }
  section.about .container .row .owl-carousel .owl-nav {
    display: none !important;
  }
  section.improvement {
    height: 625px;
  }
  section.improvement .fon .container .row {
    margin-top: 55px;
  }
  section.improvement .fon .container .row:last-child {
    margin-top: 15px;
  }
  section.improvement .fon .container .row:last-child .column-improvement:nth-child(4) {
    margin-top: 15px;
  }
  section.improvement .fon .container .row:last-child .column-improvement:nth-child(5) {
    display: flex;
    margin-top: 15px;
  }
  section.improvement .fon .container .row .column-improvement {
    padding: 0 5px;
  }
  section.improvement .fon .container .row .column-improvement .circle {
    width: 60px;
    height: 60px;
  }
  section.improvement .fon .container .row .column-improvement .improvement__title {
    margin: 10px 0;
    line-height: 20px;
  }
  section.improvement .fon .container .row .column-improvement .improvement__description {
    line-height: 14px;
  }
  section.shop .row {
    justify-content: center;
  }
  section.shop .row .column-shop {
    height: 320px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 15px;
  }
  section.shop .row .column-shop .price .price__title::before {
    font-size: 20px;
    top: 10px;
    left: -10px;
  }
  section.shop .row .column-shop .price .price__title::after {
    font-size: 14px;
    left: 65px;
  }
  section.shop .row .column-shop .date .date__item {
    margin-top: 20px;
    font-size: 14px;
  }
  section.shop .row .column-shop .date .date__item::after {
    top: 22px;
    left: 19%;
  }
  section.shop .row .column-shop .btn {
    width: 150px;
    height: 40px;
    padding: 10px 40px;
  }
  section.shop .row .column-shop:last-child {
    margin-top: 25px;
  }
  section.shop .row .owl-item {
    height: 300px;
  }
  section.shop .row .owl-item .column-comment {
    height: 200px;
    width: 99%;
    margin-top: 50px;
  }
  section.shop .row .owl-item .column-comment .avatar {
    margin: 0 55px 0 55px;
    padding: 5px;
  }
  section.shop .row .owl-item .column-comment .commnet__text {
    width: 56%;
  }
  section.shop .row .owl-item .column-comment .commnet__text::before {
    top: 35px;
    left: -24px;
  }
  section.shop .row .owl-item .column-comment .commnet__text .commnet__text_q {
    margin-bottom: 10px;
  }
  section.shop .row .owl-item .column-comment .commnet__text .commnet__text_q::before {
    left: -30px;
  }
  section.shop .row .owl-item .column-comment .commnet__text .commnet__text_q::after {
    right: -30px;
  }
  section.shop .row .owl-item .column-comment .commnet__text .post {
    font-size: 13px;
  }
  section.shop .row .owl-item .column-comment .commnet__text .name {
    font-size: 15px;
  }
  section.shop .row .owl-item .column-comment .slider-comment {
    bottom: -30px;
  }
  section.shop .row .owl-item .column-comment .slider-comment .slider__name .name {
    font-size: 14px;
  }
  section.shop .row .owl-item .column-comment .slider-comment .slider__name .post {
    font-size: 12px;
  }
  section.shop .row .owl-nav {
    display: none;
  }
  section.shop .row .owl-dots {
    display: none !important;
  }
  footer {
    height: 250px;
  }
  footer .row .column__footer .footer__title {
    margin-bottom: 20px;
  }
  footer .row .column__footer .footer-social {
    margin-top: 30px;
  }
  footer .row .footer-contact .contact {
    margin-left: 15px;
  }
  footer .row .footer-contact .contact .contact__item {
    font-size: 12px;
  }
  footer .row .footer-contact .contact__title {
    margin-bottom: 20px;
  }
  footer .row .footer-website .contact {
    margin-top: 40px;
  }
  footer .row .footer-website .contact .contact__item {
    font-size: 12px;
  }
}

@media screen and (max-width: 696px) {
  section.shop .row .column-comment .commnet__text {
    width: 56%;
  }
  section.shop .row .column-comment .commnet__text::before {
    top: 35px;
    left: -24px;
  }
  section.shop .row .column-comment .commnet__text .commnet__text_q {
    margin-bottom: 10px;
  }
  section.shop .row .column-comment .commnet__text .commnet__text_q::before {
    display: none !important;
  }
  section.shop .row .column-comment .commnet__text .commnet__text_q::after {
    display: none !important;
  }
  section.shop .row .column-comment .commnet__text .post {
    font-size: 13px;
  }
  section.shop .row .column-comment .commnet__text .name {
    font-size: 15px;
  }
  section.shop .row .column-comment .slider-comment {
    display: none !important;
  }
  footer {
    height: 250px;
  }
  footer .row .column__footer .footer__title {
    margin-bottom: 20px;
  }
  footer .row .column__footer .footer-social {
    margin-top: 30px;
  }
  footer .row .footer-contact .contact {
    margin-left: 5px;
  }
  footer .row .footer-contact .contact .contact__item {
    font-size: 12px;
  }
  footer .row .footer-contact .contact .contact__item::before {
    left: -22px;
    top: 0px;
  }
  footer .row .footer-contact .contact .contact__item:last-child::before {
    left: -25px;
  }
  footer .row .footer-contact .contact__title {
    margin-bottom: 20px;
  }
  footer .row .footer-website .contact {
    margin-top: 40px;
  }
  footer .row .footer-website .contact .contact__item {
    font-size: 12px;
  }
  footer .row .footer-website .contact .contact__item:first-child::before {
    left: -28px;
  }
  footer .row .footer-website .contact .contact__item::before {
    left: -28px;
  }
  footer .row .footer-website .contact .contact__item:last-child::before {
    left: -28px;
  }
}

@media screen and (max-width: 576px) {
  .col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-6-part {
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
    max-width: 47%;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 12px;
  }
  header .container .menu {
    padding: 5px 0 5px 0;
  }
  section.balance {
    top: 50px;
  }
  section.balance .fon .container .row .column-trial .trial__title {
    font-size: 16px;
  }
  section.balance .fon .container .row .column-trial .register-form .register-form__btn {
    width: 55%;
  }
  section.about .container .row .column-about .about__title {
    margin: 0 0 0 0;
  }
  section.improvement {
    height: 625px;
  }
  section.improvement .fon .container .row {
    margin-top: 85px;
  }
  section.improvement .fon .container .row .column-improvement {
    margin: 15px 0px;
    height: 110px;
  }
  section.improvement .fon .container .row .column-improvement .circle {
    width: 45px;
    height: 45px;
  }
  section.improvement .fon .container .row .column-improvement .improvement__title {
    margin: 5px 0;
    line-height: 12px;
  }
  section.improvement .fon .container .row .column-improvement .improvement__description {
    line-height: 12px;
    bottom: -20px;
  }
  section.improvement .fon .container .row:first-child .column-improvement:last-child {
    display: flex !important;
  }
  section.improvement .fon .container .row:last-child {
    margin-top: 15px;
  }
  section.improvement .fon .container .row:last-child .column-improvement:last-child {
    display: none !important;
  }
  section.shop .container .row .owl-item .column-comment {
    height: 240px !important;
    flex-direction: column;
  }
  section.shop .container .row .owl-item .column-comment .commnet__text {
    width: 95% !important;
  }
  section.shop .container .row .owl-item .column-comment .commnet__text:before {
    display: none;
  }
  section.shop .container .row .owl-item .column-comment .avatar {
    width: 65px !important;
    height: 65px !important;
  }
  footer {
    height: 335px;
    padding: 20px 0 0 0;
  }
  footer .row-mob {
    display: block;
  }
  footer .row .column__footer {
    text-align: center;
  }
  footer .row .column__footer .footer__title {
    margin-bottom: 5px;
  }
  footer .row .footer-contact {
    margin-top: 25px;
    padding-left: 40px;
  }
  footer .row .footer-website .contact {
    margin-top: 60px;
  }
  .copyright {
    height: 60px;
  }
}
